<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://kit.fontawesome.com/a472daff3c.js" crossorigin="anonymous"></script>
        {% block css %}{% endblock %}
    </head>

    <body>

        <div class="w-screen md:w-1/3 h-full mx-auto p-6">
            {% block body %}{% endblock %}
        </div>

        {% block js %}{% endblock %}
    </body>
    <!-- <a href="https://www.flaticon.com/free-icons/home" title="home icons">Home icons created by Freepik - Flaticon</a> -->
</html>