{% load static %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://kit.fontawesome.com/a472daff3c.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
        <!-- suppress the calendar icon for input[date] -->
        <style type="text/css">
            input[type=date]::-webkit-calendar-picker-indicator {
                -webkit-appearance: none;
                display: none;
            }
        </style>
        {% block css %}{% endblock %}
    </head>

    <body>

        <div class="w-screen md:w-2/3 xl:w-1/2 h-full mx-auto p-6">
            {% if not suppress_header %}
                <div class="flex flex-row items-center mt-2 mb-12">
                    <div>
                        <img src="{% static 'home.png' %}" class="h-12">
                    </div>
                    <div class="ml-auto">
                        <a href="/logout">
                            <div class="bg-yellow-200 p-2 px-4 rounded-lg text-md">Logout</div>
                        </a>
                    </div>
                </div>
                
                
                <!-- make sure following items don't float with the Logout button -->
                <div class="clear-both"></div>
                
                <div class="text-3xl font-bold mb-12 text-center">
                    Houselog Dashboard
                </div>
            {% endif %}

            {% if messages %}
                {% for message in messages %}
                    <div class="p-4 rounded-lg text-center
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %} bg-slate-200{% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} bg-green-200{% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %} bg-yellow-200{% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} bg-red-200{% endif %}
                    ">
                        {{ message}}
                    </div>
                {% endfor %}
            {% endif %}

            {% block body %}{% endblock %}
        </div>

        {% block js %}{% endblock %}
    </body>
    <!-- <a href="https://www.flaticon.com/free-icons/home" title="home icons">Home icons created by Freepik - Flaticon</a> -->
</html>