{% extends "houselog/base.html" %}

{% block css %}
<style type="text/css">
    input[type=date]::-webkit-calendar-picker-indicator {
        -webkit-appearance: none;
        display: none;
    }
</style>
{% endblock %}

{% block body %}
<a href="/logout">
    <div class="w-1/4 float-right bg-yellow-200 p-2 mt-6 mb-8 rounded-lg text-md text-center">Logout</div>
</a>

<!-- make sure following items don't float with the Logout button -->
<div class="clear-both"></div>

<div class="text-3xl font-bold mb-6 text-center">
    Houselog Dashboard
</div>

<!-- add button initial -->
<button class="border border-slate-400 w-full rounded-lg text-lg text-center text-slate-200 bg-slate-600 py-2" onClick="toggleAdd()" id="add-btn-initial">
    Add new item
</button>
<!-- add button open -->
<button class="border border-slate-400 w-full rounded-t-lg text-lg text-center text-slate-200 bg-slate-600 py-2 hidden" onClick="toggleAdd()" id="add-btn-open">
    Add new item
</button>
<div class="hidden" id="add-div">
    <form method="POST" action="/add" class="inline">
        {% csrf_token %}
        <input type="text" name="title" class="w-full border border-slate-200 p-4 text-lg outline-0 text-slate-400" placeholder="title" autofocus>
        <input type="number" name="frequency" class="w-full border border-slate-200 p-4 text-lg outline-0 text-slate-400" placeholder="frequency (days)">
        <input type="date" class="w-full border border-slate-200 p-4 text-lg outline-0 text-slate-400" name="last_done" id="add-date" onClick="this.showPicker()" value="2000-01-01">
        <input type="submit" class="w-full bg-blue-200 p-4 rounded-b-lg" value="Add">
    </form>
</div>


<!-- add a margin between add form and items, regardless if add form is open or not or if item list if empty -->
<div class="p-4"></div>


{% for item in houselog_items %}
<div class="w-full border border-slate-400 rounded-lg p-4 my-2">
    <form id="update-{{item.id}}" class="inline">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ item.id }}">
        <div class="mb-4">
            <input type="text" name="title" class="border-0 text-xl font-bold outline-0" value="{{ item.title }}" onBlur="updateField('update-{{item.id}}')">
        
            <p class="text-sm text-slate-400 italic">
                <!-- TODO: frequency field -->
                <input type="hidden" name="frequency" value="{{ item.frequency }}">
                every {{ item.frequency }} days<br>
                Last done: <input type="date" name="last_done" class="outline-0" value="{{ item.last_done|date:'Y-m-d' }}" onClick="this.showPicker()" onBlur="updateField('update-{{item.id}}')">
            </p>
        </div>
    </form>

    <div class="flex flex-row items-center">
        <div>
            Next run: {{ item.next_run }}
        </div>
        <a class="cursor-pointer ml-auto" onClick="document.getElementById('done-{{item.id}}').submit()">
            <div class="w-min bg-green-200 rounded-full p-3 px-5 mr-1">
                <form method="POST" action="/done?id={{item.id}}" id="done-{{item.id}}" class="inline">
                    {% csrf_token %}
                    <i class="fa-solid fa-check"></i>
                </form>
            </div>
        </a>
        <a class="cursor-pointer" onClick="document.getElementById('delete-{{item.id}}').submit()">
            <div class="w-min bg-red-200 rounded-full p-3">
                <form method="POST" action="/delete?id={{item.id}}" id="delete-{{item.id}}" class="inline">
                    {% csrf_token %}
                    <i class="fa-solid fa-ban"></i>
                </form>
            </div>
        </a>
    </div>
</div>
{% empty %}
<div class="border border-slate-300 rounded-lg p-4 text-center text-slate-300 italic">
    No items to display
</div>
{% endfor %}

{% endblock %}



{% block js %}
<script type="text/javascript">
window.onload = (event) => {
    // set the date picker value to today
    date = new Date()
    date_str = date.toISOString().split('T')[0]
    document.getElementById("add-date").value = date_str
}

function toggleAdd() {
    el = document.getElementById("add-div");
    btn_initial = document.getElementById("add-btn-initial");
    btn_open = document.getElementById("add-btn-open");

    if (el.style.display == "block") {
        el.style.display = "none"
        btn_initial.style.display = "block"
        btn_open.style.display = "none"
    } else {
        el.style.display = "block"
        btn_initial.style.display = "none"
        btn_open.style.display = "block"
    }
}

function updateField(id) {
    form = document.getElementById(id)
    let formData = new FormData(form)
    id = formData.get('id')

    fetch("/update?id=" + id, {
        method: "post",
        body: formData,
    })
    .then( res => {
        console.log(res)
    })

    // console.log(form)
    // parts = el.name.split("-")
    // id = parts[1]
    // field = parts[2]

    // let formData = new FormData()
    // formData.append(field, el.value)

    // fetch("/update?id=" + id, {
    //     method: "post",
    //     headers: headers,
    //     body: formData,
    // })
}
</script>
{% endblock %}

