{% extends "houselog/base.html" %}

{% block body %}
<form method="POST" action="/edit" id="edit-{{item.id}}">
    {% csrf_token %}
    <input type="text" name="item" value="{{ item.title }}" onBlur="saveItem({{item.id}})">
    <input type="number" name="frequency" value="{{ item.frequency }}" onBlur="saveItem({{item.id}})">
    <input type="datetime" name="last_done" value="{{ item.last_done }}" onBlur="saveItem({{item.id}})">
</form>
{% endblock %}

{% block js %}
<script type="text/javascript">
    function saveItem(id) {
        // document.getElementById("edit-" + id).submit()
    }
</script>
{% endblock %}